body, html {
  font-family: 'Playfair Display', serif;
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
}

#home {
  background: url(../img/landingPage.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}
#fixedImg {
  background: url(../img/fixedImg.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
.landing-text{
  color: #f8f9fa;
  text-shadow: 2px 2px 8px #000;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* Footer */
footer {
  color: white;
  background-color: #222222;
  padding: 1rem 1rem;
}
.divSection{
  padding: 80px 20px;

}

.divSection img {
  width: 100%;
}
